# These descriptions are meant to be user-facing for each field, comments describe expected values for each field for consistency
[CompareList_Field_Descriptions]
# --- Prices
# prices are defined in the list as an integer number of USD pennies and should be displayed as a proper USD value (e.g. 500 -> $5.00)
# for prices, -1 indicates free plan, -1 indicates that the given plan interval is not offered
price_monthly = "Monthly price for this plan in USD."
price_yearly = " Yearly price for this plan in USD."
price_lifetime = "If offered, lifetime price for this plan in USD."
# --- Included bots
# This is the number of included bots with the plan being evaluated (integer number or "Unlimited")
included_bots = "Number of bots you can create with this plan."
# --- Automatic shutdown
# Should be set to a time period string (e.g. "2 weeks" or "Never")
automatic_shutdown = "When are bots shut down for inactivity?"
# --- Components per bot
# If components are fungible like Inventor (command and event are treated same) (integer number or specify e.g. "3 commands, 3 events")
components_per_bot = "Number of commands/events/etc. you can create per bot."
# --- Servers per bot
# Number of servers a bot on the given plan can be in (integer number or "Unlimited")
servers_per_bot = "Number of Discord servers a bot can be in."
# --- Flow time limit
# If flows are limited in the amount of time they can execute for (integer number or "Unlimited")
flow_time_limit = "Time limit on user-created flows or code."
# --- Variable storage
# This includes per-server/user/etc. variables or a more general key-value storage scheme (true/false)
variable_storage = "Variable storage type offered."
# --- Database Storage
# Traditional column/row database, optionally relational (true/false)
database_storage = "Database storage type offered."
# --- Storage Limit
# This is metered differently by different providers, provide a string with their limit (e.g. "50 MB" or "500 calls")
storage_limit = "Limits on storage."
# --- Collaboration
# Does the bot allow you to collaborate with other users (true/false)
collaboration = "Develop bots with other users."
# --- Bot Status
# For forced status/prefix plans, set this to a string with the forced status or status prefix
# For plans with full customization available (relative to what is offered by that service), set this to true
bot_status = "Customization options for bot status."
# --- Library
# Library system alowing users to install flows/commands/events/etc. created by other users (true/false)
library = "Library system for sharing flows."
# --- Plugins
# Built-in modules or user-created fully-featured plugins (true/false)
plugins = "Plugins or built-in modules."
# --- Flow Sharing
# Ability to share links/codes/etc to share events, commands, etc between users/bots (true/false)
flow_sharing = "Links or codes to share flows between bots."
# --- Support
# Is official support from the developers of the platform offered at this tier (true/false)
support = "Official/priority support availability."
# --- Dashboard Themes
# Is dashboard theming for the bot creator dashboard supported at this tier (true/false)
dashboard_themes = "Ability to set themes in the bot maker dashboard."
# --- Bot Dashboard
# Does the service have a built-in system to create a dashboard for a bot (true/false)
bot_dashboard = "Ability to create a dashboard for your bot."

[Inventor_Free]
price_monthly = -1
price_yearly = -1
price_lifetime = -1
included_bots = "3"
automatic_shutdown = "2 weeks"
components_per_bot = "15 components"
servers_per_bot = 10
flow_time_limit = 10
variable_storage = true
database_storage = true
storage_limit = "500 Crates (100KB)"
collaboration = true
bot_status = "invt.lol (prefix)"
library = true
plugins = "Soon"
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = true

[Inventor_Premium]
price_monthly = 599
price_yearly = 4999
price_lifetime = -2
included_bots = "1"
automatic_shutdown = "Never"
components_per_bot = "Unlimited"
servers_per_bot = 1000
flow_time_limit = 30
variable_storage = true
database_storage = true
storage_limit = "20,000 Crates (4MB)"
collaboration = true
bot_status = true
library = true
plugins = "Soon"
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = true

[Inventor_Ultimate]
price_monthly = 1199
price_yearly = 9999
price_lifetime = -2
included_bots = "20"
automatic_shutdown = "Never"
components_per_bot = "Unlimited"
servers_per_bot = 1500
flow_time_limit = 45
variable_storage = true
database_storage = true
storage_limit = "30,000 Crates (6MB)"
collaboration = true
bot_status = true
library = true
plugins = "Soon"
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = true

[BotGhost_Free]
price_monthly = -1
price_yearly = -1
price_lifetime = -1
included_bots = "Unlimited"
automatic_shutdown = "2 days"
components_per_bot = "3 commands, 3 events"
servers_per_bot = 5
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "500 calls"
collaboration = true
bot_status = "Listening to Made with BotGhost.com"
library = true
plugins = true
flow_sharing = true
support = false
dashboard_themes = false
bot_dashboard = true

[BotGhost_Premium_Single_Bot]
price_monthly = 1100
price_yearly = 4999
price_lifetime = 9999
included_bots = 1
automatic_shutdown = "Never"
components_per_bot = "Unlimited"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "Unlimited calls"
collaboration = true
bot_status = true
library = true
plugins = true
flow_sharing = true
support = true
dashboard_themes = false
bot_dashboard = true

[BotGhost_Premium_Multi_Bot]
price_monthly = 2399
price_yearly = 9999
price_lifetime = 14999
included_bots = "Unlimited"
automatic_shutdown = "Never"
components_per_bot = "Unlimited"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "Unlimited calls"
collaboration = true
bot_status = true
library = true
plugins = true
flow_sharing = true
support = true
dashboard_themes = false
bot_dashboard = true

[BotWiz_Free]
price_monthly = -1
price_yearly = -1
price_lifetime = -1
included_bots = "Unlimited"
automatic_shutdown = "Never"
components_per_bot = "40"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "15MB"
collaboration = false
bot_status = "Watching Made with BotWiz.dev"
library = false
plugins = true
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = false

[BotWiz_Basic]
price_monthly = 521
price_yearly = 7092
price_lifetime = 5840
included_bots = "1"
automatic_shutdown = "Never"
components_per_bot = "400"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "30MB"
collaboration = false
bot_status = true
library = false
plugins = true
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = false

[BotWiz_Medium]
price_monthly = 939
price_yearly = 6383
price_lifetime = 10512
included_bots = "1"
automatic_shutdown = "Never"
components_per_bot = "400"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "30MB"
collaboration = false
bot_status = true
library = false
plugins = true
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = false

[BotWiz_Wizards]
price_monthly = 1460
price_yearly = 9928
price_lifetime = 16353
included_bots = "1"
automatic_shutdown = "Never"
components_per_bot = "400"
servers_per_bot = "Unlimited"
flow_time_limit = "Unlimited"
variable_storage = true
database_storage = false
storage_limit = "30MB"
collaboration = true
bot_status = true
library = false
plugins = true
flow_sharing = true
support = true
dashboard_themes = true
bot_dashboard = false
